/* do not touch this part */
.header,
header{
    display: flex;
}
.header p{
    font-size: 18px;
    text-align: center;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    padding:10px;
}
.navbar ul li a,
.navbar ul 
{
    text-decoration: none;
    list-style-type: none;
    color:black;
}
.adp p,
.signup p,
.login p,
.rcp p,
.sdp p,
.edp p,
.ftp p,
.logout p,
.profile p,
.stp p{
    font-size: 40px;
    text-align: center;
}
img{
width: 40%;
height: 40%;
}
.student{
text-align: center;    
width: 700px;
    height: 700px;
    padding-bottom: 500px;
    float: right;
}
#dropdown {
margin: 25px 0 0 0;
width: 510px;
height: 40px;
border-radius: 10px;
padding: 5px;
}
#btn{
color: white;
border: transparent;
background-color: blue;
padding-top: 10px;
padding-bottom: 20px;
width: 510px;
margin-top: 50px;
border-radius: 10px;
padding-top:  15px;
}
@media (max-width: 375px){
    .right{
        width: 100%;
        
    }
     img{
         
         width: 300px;
         padding-left: 30px;
     }
     .student{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;
         /* border: ; */
     }
     h1{
         /* padding-left: 50px; */
         text-align: center;
        
     }
     #dropdown{
         
         border: 1px solid black;
        border-radius: 2px;
        background: transparent;
        font-size: 10px;
       width: 70%;
       padding: 5px 0
     }
     #btn{
         width: 250px;
     }
}

